.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

.mat-header-cell {
  color: #582f0e;
}

td {
  background-color: #c2c5aa;
}

th {
  background-color: #b6ad90;
}

mat-paginator {
  background-color: #a4ac86;
}
