.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

.mat-header-cell {
  color: #212529;
}

td {
  background-color: #f8f9fa;
}

th {
  background-color: #e9ecef;
}

mat-paginator {
  background-color: #e9ecef;
}
