h1 {
  width: 100%;
  text-align: center;
}

button {
  width: 100%;
  color: var(--cor-dois);
}

mat-form-field {
  width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

.mat-header-cell {
  color: #212529;
}

td {
  background-color: var(--cor-cinco);
}

th {
  background-color: var(--cor-seis)
}

mat-paginator {
  background-color: var(--cor-seis)
}

.edit {
  color: var(--cor-dois);
}

.delete {
  color: var(--cor-um);
}
