h1 {
  width: 100%;
  text-align: center;
}

button {
  width: 100%;
  color: var(--cor-dois)
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #343a40 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--cor-dois)!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color: var(--cor-dois)!important; /*outer ring color change*/
}

mat-radio-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.container {
  width: 90%;
  margin: auto;
}

table {
  width: 100%;
}

.mat-header-cell {
  color: #212529;
}

td {
  background-color: var(--cor-cinco);
}

th {
  background-color: var(--cor-seis)
}

mat-paginator {
  background-color: var(--cor-seis)
}

.edit {
  color: var(--cor-dois);
}

.visibility {
  color: var(--cor-um);
}

