.container {
  height: 100%;
}

.sidenav {
  width: 12rem;
  color: white;
  background: var(--background-color);
}

img{
  width: 70%;
  height: 7rem;
  margin: 1rem  auto auto 2rem;
  border-radius: 6px;
}

.sidenav a {
  color: #343a40;
}

.sidenav i {
  margin-right:  .6rem;;
}

.menu {
  margin: 1rem 0 0 1rem;
  color: #343a40;
  background: var(--background-color);
}
